.dropdown-menu, .dropdown-menu-right {
    display: block;
    border: 2px solid black;
    border-radius: 10px;
}   

.inactive {
    display: none;
}

.menu-list, .menu-list-right {
    position: absolute;
    background-color: white;
    list-style-type: none;
    z-index: 1;
    width: 100%;
    border: 2px solid black;
    border-radius: 0, 0, 10px, 10px;
    border-top: 0px;
    left: -2px;
}

.list-items, .list-items-right {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

.hidden {
    display:  none;
}

.profile-chart-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.bar {
    animation-name: animateWidth;
    animation-duration: 3s;
}

.table, .table-right {
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba($color: white, $alpha: 0.8);
    overflow: scroll;
}

.profile, .profile-2 {
    margin-right: 10px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 700px;
    font-size: 20px;
    margin-top: 2px;
}

@keyframes animateWidth {
    from {width: 0px }
    to {width: attr(width) }
}

.score {
    margin-right: 17px;
}

.citytitle, .citytitle-right {
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    width: 100%;
    height: 100%;
}

.dropdown-menu, .dropdown-menu-right {
    width: 35%;
    height: 23px;
    position: relative;
    background-color: rgba($color: white, $alpha: 0.8)
}

.city:hover, .city-2:hover {
    background-color: hotpink;
    font-weight: 700;
}

.dropdown-menu:hover, .dropdown-menu-right:hover {
    cursor: pointer;
    background-color: hotpink;
}

.title, .title-right {
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
}


.title-dropdown-wrapper, .title-dropdown-wrapper-right {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
    height: 15%;
    width: 96%;
}

.citySummary, .citySummary-right {
    margin: 0 auto;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba($color: white, $alpha: 0.8);
    width: 96%;
    height: 14%;
    text-overflow: ellipsis;
    overflow: scroll;
    
}

.category {
    font-size: 17px;
    margin-right: 5px;
}

.Housing {
    color: #f3c32c;
    font-weight: 700;
}

.CostofLiving {
    color: #f3d630;
    font-weight: 700;
}

.Startups {
    color: #f4eb33;
    font-weight: 700;
}
.VentureCapital {
    color: #d2ed31;
    font-weight: 700;
}
.TravelConnectivity {
    color: #7adc29;
    font-weight: 700;
}

.Commute {
    color: #36cc24;
    font-weight: 700;
}

.BusinessFreedom {
    color: #19ad51;
    font-weight: 700;
}

.Safety {
    color: #0d6999;
    font-weight: 700;
}

.Healthcare {
    color: #051fa5;
    font-weight: 700;
}

.Education {
    color: #150e78;
    font-weight: 700;
}

.EnvironmentalQuality {
    color: #3d14a4;
    font-weight: 700;
    width: 170px;
}

.Economy {
    color: #5c14a1;
    font-weight: 700;
}

.Taxation {
    color: #88149f;
    font-weight: 700;
}

.InternetAccess {
    color: #b9117d;
    font-weight: 700;
}

.LeisureCulture {
    color: #d10d54;
    font-weight: 700;
}

.Tolerance {
    color: #e70c26;
    font-weight: 700;
}

.Outdoors {
    color: #f1351b;
    font-weight: 700;
}

.nonhighlighted {
    color: black;
    font-weight: normal;
}

.title-page {
    font-size: 50px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin-top: 0;
    margin-bottom: 0;

}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    height: 50px;
    width: 98%;
    position: absolute;
    top: 0;
    left:20px;
    z-index: 100;
}

.description {
    margin-left: 20px;
}

.link-wrappers {
    width: 100px;
    height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba($color: white, $alpha: 0.8);
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

.github-logo {
    width: 23px;
    height: 100%;
}
.linkedin-logo{
    width: 27.03px;
    height: 100%;
}
.angellist-logo {
    width: 16px;
    height: 100%;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    color: white;
    position: absolute;
    bottom: 0;
}



.main-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: auto;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    
}

.body-left, .body-right {
    width: 50%;
    height: 100vh;
}

.teleport-link {
    color: white;
}

.citychart, .citychart-right{
    width: 100%;
    height: 100%;
}

.name {
    color: black;
    background-color: rgba($color: white, $alpha: 0.8);
    padding: 5px;
    border-radius: 10px;
    margin-right: 40px;
    border: 2px solid black;
    
}

.body-left {
    background-image: url("/src/images/newyork2.jpg");
    background-size: cover;
    width: 50%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.body-right {
    background-image: url("/src/images/sf2.jpg");
    background-size: cover;
    width: 50%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.score-left, .score-right{
    width: 200px;
    color: black;
    font-size: 20px;
    background-color: rgba($color: white, $alpha: 0.8);
    border-radius: 10px;
    text-align: center;
    font-weight: 700px;
    border: 2px solid black;

}

