.dropdown-menu {
    display: block;
    border: 1px solid black;
    }   

.active {
    display: none;
}

.menu-list {
    position: absolute;
    background-color: white;
    list-style-type: none;
    z-index: 1;
    width: 100px;
    border: 1px solid black;
    left: 10px;
}

.list-items {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

.hidden {
    display:  none;
}

.profile-chart-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    animation-name: animateWidth;
    animation-duration: 3s;
    border-radius: 10px;
}

.table {
    margin-top: 50px;
    padding: 20px;
    margin-right: 50px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

@keyframes animateWidth {
    from {width: 0px }
    to {width: attr(width) }
}

.score {
    margin-right: 17px;
}

.citytitle {
    text-align: center;
}

.dropdown-menu {
    width: 100px;
}

.title {
    margin: 0 auto;
    text-align: center;
}
